.newsletter {
  position: relative;
  padding: 90px 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/promo1.png');

  @include adpt ($stab-r) {
    padding: 50px 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $default;
    opacity: 0.9;
  }

  &__inner {
    position: relative;
    z-index: 3;
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include adpt ($stab-r) {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    margin-right: 30px;

    @include adpt ($stab-r) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__btn {
    flex: 1;
    max-width: 270px;

    @include adpt ($stab-r) {
      max-width: 100%;
    }
  }
}