.portfolio {
  padding: 90px 0;

  @include adpt ($stab-r){
    padding: 50px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 100px;
    @include adpt ($stab-r){
      margin-bottom: 50px;
      grid-template-columns: 1fr 1fr;
    }
    @include adpt ($bmob-r){
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
  }

  &__img {
    object-fit: cover;
    object-position: 0;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__link {
    &:hover {
      & .portfolio__info {
        opacity: 1;
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($accent, 0.9);
    text-align: center;
    color: $white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    @include adpt ($bmob-r){
      background-color: rgba($accent, 0.8);
      opacity: 1;
    }
  }

  &__info-title {
    font-size: 25px;
    font-weight: 600;
    max-width: 275px;
    margin: 0 auto;
    margin-bottom: 10px;
    @include adpt ($tab-r){
      font-size: 20px;
    }
  }

  &__text {
    max-width: 275px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 30px;
    @include adpt ($tab-r){
      margin-bottom: 20px;
    }
  }

  &__btn {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
    color: $accent;
    @include adpt ($stab-r){
      max-width: 100%;
    }
  }

  &__bottom-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $default;
    min-width: 210px;

    &:hover {
      color: $white;
      background-color: $accent;
      border-color: $accent;
    }
  }
}